body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

*{
  box-sizing: border-box;
}

.nav--bar {
  position: fixed;
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  z-index: 5;
}

.snowy {
  z-index: 3;
}

.logo {
  margin-left : 40px;
}

.section {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.section--one--container{
  width: 360px;
  margin-left: 15%;
}

.first h1{
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: -0.3rem;
  width: 120%;
  margin: 0 0 30px -10px;
  background: linear-gradient(to right, hsl(12, 98%, 51%), #feb47b);
  -webkit-background-clip: text;
  color: transparent;
  /* For Firefox */
  background-clip: text;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  z-index: 10;
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top:0%;
  height: 100vh;
  z-index: 10;
}

h2 {
  margin-left: 0%;
  font-size: 4rem;
  line-height: 3rem;
  z-index: 5;
  background: linear-gradient(to right, hsl(12, 98%, 51%), #feb47b);
  -webkit-background-clip: text;
  color: transparent;
  /* For Firefox */
  background-clip: text;

}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px; /* Space below p */
}


.button--style{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background: red;
  color: White;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: bold;
  margin-right: 40px;
}

.second {
  justify-content: flex-end;
  position: relative;
}

.section--two--container{
  width: 360px;
  margin-right: 10%;
  z-index: 1;
}

.section--third--container{
  width: 360px;
  margin-left: 10%;
  z-index: 1;
}

h2{
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 2.5rem;
}

p{
  text-align: justify;
  color: rgb(109, 109, 109);
}

.custom--bg {
  width: 100%;
  height: 800px;
  background: rgb(255, 244, 244);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg) rotate(21deg);
  position: absolute;
  top: 0;
  left: 0;
}

.section-2-container {
  width: 360px;
  margin-right: 10%;
  z-index: 1;
}